@use '../@config/index';

// Footer
.footer {
    border-top: solid 1px #323232;
    margin-top: 80px;
    padding: calc( index.$lh * 1.5 ) 0;

    @include index.l {
        margin-top: 200px;
        padding: calc( index.$lh * 2.5 ) 0;
    }

    @include index.xl {
        margin-top: 300px;
    }

    @include index.xxl {
        margin-top: 400px;
    }

    // Inner
    &__inner {
        display: flex;
        flex-direction: column;
        gap: index.$lh;

       @include index.l {
            display: grid;
        }


    }

    // Top
    &__top {
        display: flex;
        gap: index.$lh;
        justify-content: space-between;
        align-items: center;


        @include index.l {
            grid-column: 3 / 12;
        }
    }

    // Logo
    &__logo {
        display: flex;
        flex-direction: column;
        gap: calc( index.$lh / 2 );
    }

    // Social
    &__social {
        display: flex;
        align-items: center;
        gap: calc( index.$lh / 2 );

        @include index.l {
            gap: index.$lh;
        }

    }

    // Middle
    &__middle {
        display: flex;
        flex-direction: column;
        gap: index.$lh;

        @include index.l {
            grid-column: 3 / 12;
        }
    }

    // Carousel title
    &__carousel-title {
        color: index.$soft-primary;
        font-size: 13px;
        line-height: 17px;
        font-weight: 700;

        @include index.l {
            font-size: 14px;
            line-height: 20px;
        }

        @include index.xl {
            font-size: 15px;
            line-height: 21px;
        }

        @include index.xxl {
            font-size: 16px;
            line-height: 22px;
        }
    }

    // Bottom
    &__bottom {
        @include index.l {
            grid-column: 3 / 12;
        }
    }

    // Caption
    &__caption {
        font-size: 0;
        line-height: 1;
    }

}