@use '../@config/index';

// Header
.header {
    position: fixed;
    width: 100%;
    height: auto;
    top: 100px;
    left: 0;
    z-index: 999;    

    // Inner
    &__inner {
        // height: 100vh;
        display: grid;
        align-items: center;
        transition: height .5s cubic-bezier(.86,0,.07,1);
    }

    // Content
    &__content {
        display: flex;
        flex-direction: column;
        gap: index.$lh;

        @include index.l {
            grid-column: 2 / 7;
            gap: calc( index.$lh / 2 );
        }

        @include index.xl {
           gap: index.$lh;
        }

    }

    // Logo and Hamburger wrapper
    &__logo-hamburger {
        display: flex;
        justify-content: space-between;
        gap: index.$lh;
        align-items: center;
    }

    // Hamburger icon
    &__hamburger-icon {
        visibility: hidden;
        @include index.l {
            display: none !important;
        }
    }
    
    // Logo
    &__logo {
        transform-origin: left center;
        will-change: transform;
    }

    // Menu
    &__menu {
        will-change: padding-left;

        @include index.l {
            padding-left: calc( index.$lh * 4 );
        }

        @include index.xl {
            padding-left: calc( index.$lh * 6 );
        }

        @include index.xxl {
            padding-left: calc( index.$lh * 7 );
        }
    }

}