// Loader
@use '../@config/index';

.loader {
    position: fixed;
    inset: 0;
    background: #FB9701;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;


    // Is done
    &.is-done {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.8s ease-out;
    }

    // Gif
    &__wrapper-gif {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.5s ease-out;

        &.hidden {
            opacity: 0;
        }

    }

    // Counter
    // &__counter {
    //     font-family: index.$font-primary;
    //     text-align: center;
    //     font-size: 16px;
    //     line-height: 1;
    //     font-weight: 700;
    //     margin-top: -20px;

    //     @include index.l {
    //         font-size: 20px;
    //     }

    // }

    &__gif {
        display: inline-block;
        width: 150px;
        height: 84px;
    }

}

#burn-canvas {
    width: 100%;
    height: 100%;
    display: block;
}
