@use '../@config/index';

// About us
.about-us {
    min-height: 100vh;
    padding-top: calc( index.$lh * 4 );

    @include index.l {
        grid-column: span 12;
        padding-top: calc( index.$lh * 2 );
    }

    @include index.xl {
        padding-top: calc( index.$lh * 3 );
    }

    @include index.xxl {
        padding-top: calc( index.$lh * 4 );
    }

    // Wrapper inner
    &__wrapper__inner {
        display: grid;
        grid-template-columns: repeat( 2, minmax( 0, 1fr ) );
        gap: index.$lh;

        @include index.l {
            display: grid;
            grid-template-columns: repeat( 12, minmax( 0, 1fr ) );
        }

    }

}

.about-us + .footer {
    margin-top: 500px;

    @media only screen and (max-width: 1700px) {
        margin-top: 500px;
    }

    @media only screen and (max-width: 1440px) {
        margin-top: 500px;
    }

    @media only screen and (max-width: 1280px) {
        margin-top: 500px;
    }  

    @media only screen and (max-width: 768px) {
        margin-top: 250px;
    }    
    
}