@use '../@config/index';

// About us
.about-us {
    min-height: 100vh;
    padding-top: 148px;

    @include index.m {
        padding-top: 201px;
    }

    @include index.l {
        grid-column: span 12;
        padding-top: 255px;
    }

    @include index.xl {
        padding-top: 169px;
    }

    @include index.xxl {
        padding-top: 197px;
    }

    // Wrapper inner
    &__wrapper__inner {
        display: grid;
        grid-template-columns: repeat( 2, minmax( 0, 1fr ) );
        gap: index.$lh;
        padding-left: 75px;

        @include index.l {
            display: grid;
            grid-template-columns: repeat( 12, minmax( 0, 1fr ) );
            padding-left: 0;
        }

    }

}

.about-us + .footer {
    margin-top: 500px;

    @media only screen and (max-width: 1700px) {
        margin-top: 500px;
    }

    @media only screen and (max-width: 1440px) {
        margin-top: 500px;
    }

    @media only screen and (max-width: 1280px) {
        margin-top: 500px;
    }  

    @media only screen and (max-width: 768px) {
        margin-top: 250px;
    }    
    
}