@use '../@config/index';

// Projects Home
.projects-home {
    margin-top: -300px;
    padding-bottom: 200px;

    @include index.l {
        margin-top: 0;
        padding-top: 150px;
        padding-bottom: 450px;
    }

    @include index.xl {
        padding-top: 200px;
        padding-bottom: 300px;
    }
    

    @include index.xxl {
        padding-top: 250px;
        padding-bottom: 300px;
    }

    // Inner
    &__inner {
        display: grid;
        grid-template-columns: repeat( 2, minmax( 0, 1fr ) );
        column-gap: index.$lh;
        row-gap: calc( index.$lh * 9 );
        overflow: visible;

        @include index.l {
            grid-template-columns: repeat( 12, minmax( 0, 1fr ) );
            gap: index.$lh;
        }

    }

}