@use '../@config/index';

// Logo slider
.logos-slider {
    width: 100%;
    overflow: hidden;

    // Inner
    &__inner {
        display: block !important;
        width: 100% !important;
        max-width: 100% !important;
        overflow: hidden;
        min-width: 0;    
    }

    // Wrapper
    &__wrapper {
        width: 100%;
    }

    // Image
    &__image {
        display: block;
        max-width: 100%;
        height: auto;
    }

}