@use '../@config/index';

// Main slider
.main-slider {
    transition: all .4s ease;

    // &:hover .main-slider__next,
    // &:hover .main-slider__prev {
    //     transform: translateX(0);
    //     opacity: 1;
    //     visibility: visible;
    // }

    // Inner
    // &__inner {
    //     position: relative;
    // }

    // Slide
    &__slide {
        width: 100%;
        height: 100%;
        height: 100vh;
        background: center center no-repeat;
        background-size: cover;
        overflow: hidden;
        opacity: 0 !important;
        transition: opacity 1.2s ease; // Same as main-slider.js

        &.swiper-slide-active,
        &.swiper-slide-duplicate-active {
            opacity: 1 !important;
        }

        &.swiper-slide-active .main-slider__image,
        &.swiper-slide-duplicate-active .main-slider__image {
            transform: scale(1); // Smooth zoom in
            transition: transform 7s ease-out;
        }

        &.swiper-slide-prev .main-slider__image,
        &.swiper-slide-duplicate-prev .main-slider__image {
            transform: scale(1);
            transition: none;
        }

    }   

    // Picture
    &__picture {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        line-height: 1;
        overflow: hidden;
    }

    // Image
    &__image {
        display: block;
        width: 100%;
        height: auto;
        transform: scale(1.1);
        will-change: transform;
    }

    // Next and Prev buttons
    &__next,
    &__prev {
        display: none;
        background: transparent;
        width: 55px;
        height: 55px;
        line-height: 53px;
        margin-top: -30px;
        text-align: center;
        border: 2px solid #d4d3d3;
        border-radius: 55px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;

        @include index.l {
            display: block;
        }

    }

    &__next {
        right: 25px;
        transform:translateX(-50px);
        
    }

    &__prev {
        left: 25px;
        transform:translateX(50px);
    }

}