@use '../@config/index';

// Project item
.project-item {
    --reveal-y: 0px;
    --reveal-scale: 1;
    --reveal-opacity: 1;

    display: block;
    width: 100%;
    opacity: var(--reveal-opacity);
    transform: translate(
        calc(var(--p-oxm, 0px)),
        calc(var(--p-oym, 0px) + var(--reveal-y))
      )
    scale(var(--reveal-scale));
    

    @include index.l {
        transform: translate(
        calc(var(--p-ox, 0px)),
        calc(var(--p-oy, 0px) + var(--reveal-y))
        )
        scale(var(--reveal-scale));
    }

    &:nth-of-type( odd ) {
       @include index.l {
            grid-column: 3 / 7;
       }
    }

    &:nth-of-type( even ) {
       @include index.l {
            grid-column: 8 / 12;
       }
    }

    &:hover .image-project__image {
        transform: scale(1.05);
    }

    // Inner
    &__inner {
        display: grid;
        grid-template-columns: repeat( 2, minmax( 0, 1fr ) );
        gap: calc( index.$lh / 2 );

        @include index.l {
            grid-template-columns: repeat( 4, minmax( 0, 1fr ) );
            gap: index.$lh;
        }

    }

}