@font-face {
    font-family: 'Mestiza';
    src: url('../fonts/Mestiza-Bold.woff2') format('woff2'),
        url('../fonts/Mestiza-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mestiza';
    src: url('../fonts/Mestiza-Regular.woff2') format('woff2'),
        url('../fonts/Mestiza-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mestiza';
    src: url('../fonts/Mestiza-RegularItalic.woff2') format('woff2'),
        url('../fonts/Mestiza-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
