// Line height
$lh: 26px;

// Colors
$primary: #FFA300;
$soft-primary: #EDD8B9;
$white: #ffffff;
$black: #000000;
$gray: #0D0D0D;
$text: #000000;
$soft-gray: #F5F5F5;

// Fonts
$font-primary: 'Mestiza', sans-serif;
$font-secondary: 'Mestiza', sans-serif;