@use '../@config/index';

// Logo Footer
.logo-footer {

    // Link
    &__link {
        display: flex;
        flex-direction: column;
    }
    
    // Image
    &__image {
        width: 200px;
        max-width: 100%;

        @include index.l {
            width: 215px;
        }

        @include index.xl {
            width: 225px;
        }

        @include index.xxl {
            width: 250px;
        }

    }

}