@use '../@config/index';

// Logo
.logo {

    // Link
    &__link {
        display: flex;
        flex-direction: column;
        gap: index.$lh;

        @include index.l {
            gap: calc( index.$lh * 1.5 );
        }

        @include index.xl {
            gap: calc( index.$lh * 2 );
        }

    }

    // Masks
    &__mask {
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }
    
    &__isotype,
    &__logotype{
        display: inline-block;
        will-change: transform, opacity;
    }
    
    // Isotype
    &__isotype {
        width: 75px;
        height: auto;
        display: inline-flex;
        will-change: transform;

        @include index.m {
            width: 90px;
        }

        @include index.l {
            width: 110px;
        }

        @include index.e {
            width: 115px;
        }

        @include index.xl {
            width: 120px;
        }

        @include index.xxl {
            width: 145px;
        }

    }

    // Logotype
    &__logotype {
        width: 250px;
        height: auto;
        will-change: opacity;

        @include index.m {
            width: 350px;
        }

        @include index.l {
            width: 370px;
        }

        @include index.e {
            width: 470px;
        }

        @include index.xl {
            width: 530px;
        }

        @include index.xxl {
            width: 650px;
        }

    }

}