@use '../@config/index';

// Text block
.text_block {

    // Inner
    &__inner {
        width: 100%;
    }

    p {
        color: index.$soft-primary;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;

        @include index.l {
            font-size: 16px;
            line-height: 22px;
        }

        @include index.xxl {
            font-size: 19px;
            line-height: 25px;
        }

    }

    h1 {
        color: index.$primary;
        font-family: index.$font-primary;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-style: italic;

        @include index.l {
            font-size: 16px;
            line-height: 22px;
        }

        @include index.xxl {
            font-size: 19px;
            line-height: 25px;
        }

    }

    h2 {
        color: index.$primary;
        font-family: index.$font-primary;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-style: italic;

       @include index.l {
            font-size: 16px;
            line-height: 22px;
        }

        @include index.xxl {
            font-size: 19px;
            line-height: 25px;
        }

    }

    h3 {
        color: index.$primary;
        font-family: index.$font-primary;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-style: italic;

       @include index.l {
            font-size: 16px;
            line-height: 22px;
        }

        @include index.xxl {
            font-size: 19px;
            line-height: 25px;
        }

    }

    h4 {
        color: index.$primary;
        font-family: index.$font-primary;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-style: italic;

       @include index.l {
            font-size: 16px;
            line-height: 22px;
        }

        @include index.xxl {
            font-size: 19px;
            line-height: 25px;
        }

    }

    h5 {
        color: index.$primary;
        font-family: index.$font-primary;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-style: italic;

       @include index.l {
            font-size: 16px;
            line-height: 22px;
        }

        @include index.xxl {
            font-size: 19px;
            line-height: 25px;
        }
    
    }

    h6  {
        color: index.$primary;
        font-family: index.$font-primary;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        font-style: italic;

       @include index.l {
            font-size: 16px;
            line-height: 22px;
        }

        @include index.xxl {
            font-size: 19px;
            line-height: 25px;
        }

    }
    
}