@use '../@config/index';

// Text block
.text_block {

    &__inner {
        width: 100%;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: var(--text-block-font-size-mobile, 14px);
        line-height: 1.35;

        @include index.l {
            font-size: var(--text-block-font-size-tablet, 16px);
        }

        @include index.xxl {
            font-size: var(--text-block-font-size-desktop, 19px);
        }
    }

    p {
        color: var(--text-block-color, index.$soft-primary);
        font-weight: 400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--text-block-color, index.$primary);
        font-family: index.$font-primary;
        font-weight: 700;
        // font-style: italic;
    }
}